@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/theme.scss";

.pokedex-pokemon-img {
    display: block;
    margin: 0 auto;
}

.list-group {
    padding-left: 0;

    .list-group-item {
        position: relative;
        display: block;
        padding: 10px 15px;
        margin-bottom: -1px;
        background-color: $white;
        border: 1px solid $gray;

        > ul {
            padding-left: 30px;
        }
    }
}